---
import Background from "../components/Background"
import GlobalStyles from "../components/GlobalStyles.astro"
import "../styles/blog.css"
// 1. The frontmatter prop gives access to frontmatter and other data
const { frontmatter } = Astro.props;
---
<html>
  <head>
    <!-- Add other Head elements here, like styles and meta tags. -->
    <title>{frontmatter.title}</title>
  </head>
  <body>
      <!-- Add other UI components here, like common headers and footers. -->
      <img src={frontmatter.cover_image} alt={frontmatter.title} width="100%"/>
      <h1>{frontmatter.title}</h1>
      <p>Written on: {frontmatter.date}</p>
      <p>Tagged: {frontmatter.tags.join(", ")}</p>
      <!-- 2. Rendered HTML will be passed into the default slot. -->
      <slot />
  </body>
</html>